extends ../templates/base

block variables
	- var classBody = 'account-page';
	- var classWrapper = 'account';
	- var page = "";

block title
	title Аккаунт

block header
	include ../modules/header
	+header()

block main
	section.breadcrumb
		.container
			.breadcrumb__content
				.account__title
					h1 Аккаунт
				ul.clearfix
					li
						a(href='./') Главная
					li Аккаунт
	.account.account--more.container
		.account__nav
			ul.clearfix
				li
					a(href="account.html").active История заказов
				li
					a(href="account-details.html") Детали аккаунта
				li
					a(href="account-enter.html") Выйти
		.account__order-state
			img(src=require('../../components/images/i.png'), alt="")
			ul.clearfix
				li
					p Заказ
						span #3086382
				li
					p дата
						span 24 апреля, 2018
				li
					p статус
						span В ожидании
		.account__order-info
			h2 Ваш заказ
			table.table
				thead
					tr
						th
							p Товар
						th
							p Всего
				tbody
					tr
						td
							p Бюстгалтер 7629 х 1
						td
							p 120 грн
					tr
						td
							p Сумма
						td
							p 207 грн
					tr
						td
							p Всего
						td
							p 207 грн
		.account__order-contacts
			h2 Контакты заказа
			ul.clearfix
				li
					p E-MAIL:
					a(href="mailto:lorairis@gmail.com") lorairis@gmail.com
				li
					p Телефон:
					a(href="tel:+380000000000") +380 00 00 00 000
				li
					p Адрес:
					span
						| hwwrh whh / wrhrh / 24gfn / dgmndm / dgmdhm / dmgg, 12345, Ukraine