extends ../templates/base

block variables
	- var classBody = 'article-page';
	- var classWrapper = 'article';
	- var page = "blog";

block title
	title Пост

block header
	include ../modules/header
	+header()

block main
	section.breadcrumb
		.container
			ul.clearfix
				li
					a(href='./') Главная
				li
					a(href='blog.html') Статьи
				li Пост
	section.article
		.article__title.wow.flipInX
			h1 Начало повседневной работы по формированию позиции
		.article__data.wow.flipInY
			.container
				p 10 апреля, 2018
		.article__img-wrapper.wow.fadeIn
			.container
				.article__img(style="background-image: url(" + require('../../components/images/insta-4.jpg')+ ")")
		.article__info.wow.fadeInUp
			.container
				h2 Разнообразный и богатый опыт
				p
					| Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				q
					| Товарищи! укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Повседневная практика показывает, что сложившаяся структура организации.
				h2 Играет важную роль в формировании
				p
					| Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным образом рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития.
				p
					| Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке форм развития. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение новых предложений.
		.article__quote.container
			blockquote
				| Таким образом консультация с широким активом способствует подготовки и реализации дальнейших направлений
		.article__share
			.article__share-content.container
				p Поделиться:
				ul
					li
						a(href="")
							i.fa.fa-facebook
					li
						a(href="")
							i.fa.fa-google-plus
					li
						a(href="")
							i.fa.fa-vk
					li
						a(href="")
							i.fa.fa-twitter
	section.main__instagram.wow.fadeInUp
		.container
			.main__instagram-title
				h2 Instagram
			.main__instagram-block
				ul.row.main__instagram-list
					mixin instaItem(img)
						li.col-xs-6.col-sm-4.col-md-2
							a.main__instagram-item(href="#", style="background-image: url(" + require('../../components/images/insta-' + img + '.jpg')+ ")")
								.main__instagram-hidden
									div
										ul.clearfix
											li.main__instagram-fav
												span 1066
											li.main__instagram-comments
												span 80
										p
											|Повседневная практика показывает, что дальнейшее развитие различных форм...
					+instaItem('0')
					+instaItem('1')
					+instaItem('2')
					+instaItem('3')
					+instaItem('4')
					+instaItem('5')