extends ../templates/base

block variables
	- var classBody = 'guarantees-page';
	- var classWrapper = 'guarantees';
	- var page = 'pay-delivery';

block title
	title Наши гарантии

block header
	include ../modules/header
	+header()

block main
	section.breadcrumb
		.container
			.breadcrumb__content
				.guarantees__title
					h1 Наши гарантии
				ul.clearfix
					li
						a(href='./') Главная
					li Наши гарантии
	.guarantees
		section.wow.fadeIn
			.container
				h2 Доставка и Оплата
				p
					span Доставка и оплата
					| Компания занимается оптовой и розничной торговлей на территории Украины и за ее пределами. Дизайном и разработкой моделей нижнего белья занимаются опытные и талантливые дизайнеры. На территории ряда стран Lora Iris уже завоевала симпатию доверие потребитель благодаря высокому качеству изделий и приятным ценам. У нас вы можете купить женское белье (комплекты нижнего белья, бюстгальтеры )  оптом, нашей собственной торговой марки Lora Iris ( Лора Ирис ), а так же  другие  известные бренды нижнего белья.
				h2 Гарантии
				.row
					ul.col-sm-6
						li.wow.fadeInLeft(data-wow-delay="0.25s")
							p
								span Значимость этих проблем
								| настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
						li.wow.fadeInLeft(data-wow-delay="0.45s")
							p
								| Равным образом рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации.
						li.wow.fadeInLeft(data-wow-delay="0.65s")
							p
								| Разнообразный и 
								span богатый опыт постоянное информационно - пропагандистское обеспечение
								| нашей деятельности позволяет выполнять важные задания по разработке форм развития.
						li.wow.fadeInLeft(data-wow-delay="0.85s")
							p
								| Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
					ul.col-sm-6
						li.wow.fadeInRight(data-wow-delay="0.35s")
							p
								| Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Товарищи! рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия.
						li.wow.fadeInRight(data-wow-delay="0.55s")
							p
								span Разнообразный и богатый опыт
								| консультация с широким активом позволяет выполнять важные задания по разработке новых предложений.
						li.wow.fadeInRight(data-wow-delay="0.75s")
							p
								| Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки существенных финансовых и
						li.wow.fadeInRight(data-wow-delay="0.95s")
							p
								| Таким образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
		section.wow.fadeIn
			.container
				h2 Доставка и Оплата
				p
					span Доставка и оплата
					| Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке форм развития. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа систем массового участия. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение новых предложений.
		section.wow.fadeIn
			.container
				h2 С другой стороны начало повседневной работы
				p
					| С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации модели развития. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия. Равным образом рамки и место обучения кадров позволяет оценить значение новых предложений.
				p
					| Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.