body {
	color: #000;
	font-family: $font1;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	min-width: 320px;
}
a {
	color: inherit;
	&:hover, &:focus {
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}
.text-overflow {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.btn {
	transition: $main_transition;
	&--main {
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	&:hover,&:focus {
		// color: inherit;
		// outline: none;
	}
}

// .container {
// 	&_content {
// 		padding-right: 15px;
// 		padding-left: 15px;
// 		margin-right: auto;
// 		margin-left: auto;
// 		// overflow: hidden;
// 		@media (min-width: 768px) {
// 			width: 750px;
// 		}
// 		@media (min-width: 992px) {
// 			width: 970px;
// 		}
// 		@media screen and (min-width: 1200px) {
// 			width: 1170px;
// 		}
// 		@media screen and (min-width: 1400px) {
// 			width: 1340px;
// 		}
// 		@media screen and (min-width: 1600px) {
// 			width: 1520px;		
// 		}	
// 	}
// }

.content {
	padding-top: 95px;
}
.breadcrumb {
	background-color: transparent;
	padding: 0px;
	padding-top: 55px;
	margin-bottom: 0px;
	border-radius: 0px;
	ul {
		display: flex;
		justify-content: flex-end;
        @media #{$mobile} {
            display: block;
            margin: 15px 0 0;
            // justify-content: flex-start;
        }
	}
	li {
		float: left;
		& + li {
			// padding-left: 5px;
			&:before {
				content: '/';
				margin-left: 3px;
				margin-right: 3px;
			}
		}
	}
	a {
		color: #595858;
	}
}
//NO ARROWS ON IMPUT ARROWS
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

//MODAL ON CENTER
.modal {
  text-align: center;
}

.modal {
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


//SCROLLBAR
/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
	height: 200px;
    overflow: hidden !important;
    // padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 0px;
    top: 0;
    width: 8px;
  //   &:before, &:after {
  //   	content: '';
  //   	position: absolute;
  //   	background: url(../images/scroll-arrow.png)no-repeat;
  //   	width: 7px;
  //   	height: 6px;
		// pointer-events: none;
		// right: 1.5px;
		// z-index: 99;
  //   }
  //   &:before {
  //   	top: 4px;
  //   }
  //   &:after {
  //   	bottom: 4px;
  //   	@include addPrefix(transform, rotate(180deg));
  //   }
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    // filter: alpha(opacity=40);
    // opacity: 0.4;
    transition: .3s filter, .3s opacity;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #f8f6f9; }
.scrollbar-inner > .scroll-element .scroll-bar { 
	background-color: #000;
	// background: url(../images/scroll.png)no-repeat center;
	// width: 10px;
	// height: 24px;
	// background-size: cover;
}
.scrollbar-inner > .scroll-element:hover .scroll-bar {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }